@font-face {
    font-family: 'livvicblack';
    src: url('../fonts/livvic-black-webfont.eot');
    src: url('../fonts/livvic-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-black-webfont.woff') format('woff'),
         url('../fonts/livvic-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicblack_italic';
    src: url('../fonts/livvic-blackitalic-webfont.eot');
    src: url('../fonts/livvic-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-blackitalic-webfont.woff') format('woff'),
         url('../fonts/livvic-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicbold';
    src: url('../fonts/livvic-bold-webfont.eot');
    src: url('../fonts/livvic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-bold-webfont.woff') format('woff'),
         url('../fonts/livvic-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicbold_italic';
    src: url('../fonts/livvic-bolditalic-webfont.eot');
    src: url('../fonts/livvic-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-bolditalic-webfont.woff') format('woff'),
         url('../fonts/livvic-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicextralight_italic';
    src: url('../fonts/livvic-extralightitalic-webfont.eot');
    src: url('../fonts/livvic-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/livvic-extralightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livviclight';
    src: url('../fonts/livvic-light-webfont.eot');
    src: url('../fonts/livvic-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-light-webfont.woff') format('woff'),
         url('../fonts/livvic-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livviclight_italic';
    src: url('../fonts/livvic-lightitalic-webfont.eot');
    src: url('../fonts/livvic-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-lightitalic-webfont.woff') format('woff'),
         url('../fonts/livvic-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicextralight';
    src: url('../fonts/livvic-extralight-webfont.eot');
    src: url('../fonts/livvic-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-extralight-webfont.woff') format('woff'),
         url('../fonts/livvic-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicmedium_italic';
    src: url('../fonts/livvic-mediumitalic-webfont.eot');
    src: url('../fonts/livvic-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/livvic-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicregular';
    src: url('../fonts/livvic-regular-webfont.eot');
    src: url('../fonts/livvic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-regular-webfont.woff') format('woff'),
         url('../fonts/livvic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicitalic';
    src: url('../fonts/livvic-regularitalic-webfont.eot');
    src: url('../fonts/livvic-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-regularitalic-webfont.woff') format('woff'),
         url('../fonts/livvic-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicmedium';
    src: url('../fonts/livvic-medium-webfont.eot');
    src: url('../fonts/livvic-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-medium-webfont.woff') format('woff'),
         url('../fonts/livvic-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicthin';
    src: url('../fonts/livvic-thin-webfont.eot');
    src: url('../fonts/livvic-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-thin-webfont.woff') format('woff'),
         url('../fonts/livvic-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicthin_italic';
    src: url('../fonts/livvic-thinitalic-webfont.eot');
    src: url('../fonts/livvic-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-thinitalic-webfont.woff') format('woff'),
         url('../fonts/livvic-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicsemibold';
    src: url('../fonts/livvic-semibold-webfont.eot');
    src: url('../fonts/livvic-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-semibold-webfont.woff') format('woff'),
         url('../fonts/livvic-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'livvicsemibold_italic';
    src: url('../fonts/livvic-semibolditalic-webfont.eot');
    src: url('../fonts/livvic-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/livvic-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/livvic-semibolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?67jndy');
    src:  url('../fonts/icomoon.eot?67jndy#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?67jndy') format('truetype'),
      url('../fonts/icomoon.woff?67jndy') format('woff'),
      url('../fonts/icomoon.svg?67jndy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-envelop:before {
    content: "\e945";
  }
  .icon-mobile:before {
    content: "\e958";
  }
  .icon-download3:before {
    content: "\e9c7";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-linkedin:before {
    content: "\eac9";
  }
  