//fonts
$f_black: 'livvicblack';
$f_black_italic: 'livvicblack_italic';
$f_bold: 'livvicbold';
$f_semi_bold: 'livvicsemibold';
$f_semi_bold_italic: 'livvicsemibold_italic';
$f_bold_italic: 'livvicbold_italic';
$f_light: 'livviclight';
$f_xtraLight: 'livvicextralight';
$f_xtraLight_italic: 'livvicextralight_italic';
$f_regular: 'livvicregular';
$f_med: 'livvicmedium';
$f_italic: 'livvicitalic';
$f_med_italic: 'livvicmedium_italic';
$f_thin: 'livvicthin';
$f_thin_italic: 'livvicthin_italic';
