.body{
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	padding: 25px;
	@media only screen and (max-width:768px){
		height: initial;
	}
}
.header,
.footer{
	display: flex;
	align-items: center;
	background-color: cyan;
	padding: 25px;
	ul{
		list-style: none;
		flex: 0 1 50%;
		li{
		  width: 60px;
		  height: 60px;
		  border-radius: 100%;
		  margin: 5px;
		}
	}
}
.header{
	ul{
    display: flex;
		li:first-child{
		background-color: yellow;
		}
		li:nth-child(2){
		background-color: lawngreen;
		}
		li:nth-child(3){
		background-color: olive;
		}
		li:last-child{
		background-color: fuchsia;
		}
	}
	p{
	  flex: 1 auto;
	  text-align: right;
  }
  @media only screen and (max-width:768px){
    p{
      text-align: center;
    }
	}
}
.section{
	display: flex;
	height: inherit;
	text-align: center;
	margin: 30px 0;
	.section__nav,
	.section__article,
	.section__aside{
		display: flex;
    flex-direction: column;
		flex: 1;
    margin: 0 15px;
    min-height: 480px;
		> p:first-child {
			flex: 1 auto;
		}
		.section__article__section,
		.section__aside__section{
			margin: 5px 0 10px;
			padding: 20px 30px;
			word-break: break-word;
		}
		&--div{
			text-align: initial;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 3 70%;
			p,
			section{
				font-size: 40px;
			}
		}
	}
	.section__nav{
		background-color: khaki;
		flex: 1 18%;
		min-height: 150px;
	}
	.section__article{
		background-color: lightgreen;
		flex: 1 auto;
		.section__article__section{
			background-color: plum;
		}
	}
	.section__aside{
		background-color: sandybrown;
		flex: 1 18%;
		.section__aside__section{
			background-color: orangered;
			text-align: center;
		}
	}
	@media only screen and (max-width:768px){
    flex-direction:column;
    margin: 15px 0;
    .section__nav,
    .section__article,
    .section__aside{
      margin: 15px 0;
      &--div{
        justify-content: initial;
      }
    }
	}
}
.footer{
	ul{
    display: flex;
		justify-content: flex-end;
		li:first-child{
		background-color: yellow;
		}
		li:nth-child(2){
		background-color: midnightblue;
		}
		li:nth-child(3){
		background-color: orange;
		}
		li:last-child{
		background-color: olivedrab;
		}
	}
	p{
	  flex: 1 auto;
  }
  @media only screen and (max-width:768px){
    flex-direction: column-reverse;
  }
}