<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon" href="img/favicon.ico")
        title Document
    body.body
        include includes/header
        include includes/perfil
        include includes/footer

    script(src="js/plugins/plugins.js")
    script(src="js/app.js")