section.section
    nav.section__nav.p20
        p &lt;nav&gt;
        .section__nav--div
            p.hidden &lt;header&gt;
    article.section__article.p20
        p &lt;article&gt;
        .section__article--div
            p &lt;header&gt;
            section.section__article__section &lt;section&gt;
            section.section__article__section &lt;section&gt;
            p &lt;footer&gt;
    aside.section__aside.p20
        p &lt;aside&gt;
        .section__aside--div
            section.section__aside__section &lt;section&gt;
            section.section__aside__section &lt;section&gt;
            section.section__aside__section &lt;section&gt;