.section#portafolio    
    .box.portafolio__box
        //- h3 Portafolio
        a(href='http://americas-potash.com/' target='_blank').mini.aPotash
            .filtro
            .image
        a(href='https://www.mediaimpact.pe/demo/antonia3/' target='_blank').mini.antonia
            .filtro
            .image
        a(href='https://www.walon.com.pe/' target='_blank').mini.wallon
            .filtro
            .image
        a(href='https://spectrecode.github.io/prueba-inca/dist/index.html' target='_blank').mini.inca
            .filtro
            .image
        a(href='http://www.movistar.com.pe/nokia-8' target='_blank').mini.nokia
            .filtro
            .image
        a(href='http://mailing.serviciosmovistar.com/2019/Febrero/mailing_capta/' target='_blank').mini.mailing
            .filtro
            .image