.section#habilidades
    .box.habilidades__box
        h3 Habilidades
        ul.habilidades__list
            li
                .habilidades__bar
                .habilidades__skill#uno HTML/CSS
            li
                .habilidades__bar
                .habilidades__skill Sass/Pug/Stylus
            li
                .habilidades__bar
                .habilidades__skill Javascript/Jquery
            li
                .habilidades__bar
                .habilidades__skill Photoshop
            li
                .habilidades__bar
                .habilidades__skill Bootstrap
            li
                .habilidades__bar
                .habilidades__skill Gulp